<div
  class="custom-header py-2 px-3 fixed top-0 left-0 right-0 bg-white flex align-items-center justify-content-between"
>
  <!-- Left Section -->
  <div class="flex align-items-center">
    <img
      src="assets/images/logo.svg"
      alt=""
      style="height: 35px; padding: 2.5px 0"
    />
  </div>
  <!-- Right Section -->
  <div class="flex align-items-center gap-2">
    <!-- <p-button icon="pi pi-bell" [rounded]="true" [text]="true" /> -->
    <p-menu #profileMenu [model]="profileOptions" [popup]="true" />
    <p-avatar
      icon="pi pi-user"
      styleClass="mr-2 bg-secondary text-white"
      size="normal"
      shape="circle"
      (click)="profileMenu.toggle($event)"
    />
  </div>
</div>
